.DS_Store
*.xcscheme
*.perspective
*.pbxuser
*.xcbkptlist
*.mode1v3
xcschememanagement.plist
UserInterfaceState.xcuserstate
build
TabletMagic.xcodeproj/project.xcworkspace/xcuserdata/lordscott.xcuserdatad/WorkspaceSettings.xcsettings
